<html>
    <head>
        <link rel="shortcut icon" href="https://gamepedia.cursecdn.com/zelda_gamepedia_en/0/05/BotW_Master_Sword_Icon.png?version=26bf023b97f5f966351641d9d0a54f7a">
        <!-- JQuery -->
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <!-- bootstrap same as before -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

        <script type="text/javascript" src="{{ url_for('static', filename = 'edit.js') }}"></script>

        <script>
            var item = {{item|tojson}};
        </script>

        <style>
            .title {
                font-size: 40px;
            }
            .edit {
                font-size: 28px;
            }
            .warning {
                color: red;
            }
        </style>

    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div id="title" class="col-md-10 title">
                        </div>
                        <div class="col-md-2 edit">
                            <a id="edit" href="">Edit</a>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div id="attack" class="col-md-6 attack">
                            Attack:
                        </div>
                        <div id="durability" class="col-md-6 durability">
                            Durability:
                        </div>
                    </div>
                </div>

                <div id="image" class="col-md-6 image">
                    
                </div>
            </div>

            <br>

            <div id="summary" class="row">
                Summary:
            </div>
            <br>
            <div id="description" class="row">
                Description:
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                    player
                </div>
                <div class="col-md-10">
                    comment
                </div>
            </div>
            <div class="row">
                <div id="reviews" class="col-md-12">
                    
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    Write your own review of the weapon:
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    Your name:<br>
                    <textarea id="name" rows="1" cols="10" placeholder="name"></textarea>
                    <div id="name-warning">
                        
                    </div>
                </div>
                <div class="col-md-10">
                    Your comment:<br>
                    <textarea id="comment" rows="3" cols="50" placeholder="comment"></textarea>
                    <div id="comment-warning">
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button id="submit" class="btn btn-primary">submit</button>
                    <br>
                    <button id="discard" class="btn btn-primary">Discard changes</button>
                </div>
            </div>
        </div>
    </body>
</html>