{% extends 'layout.html' %}


{% block head %}

{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename = 'basic0.js') }}"></script>

<script>
	var data = {{data|tojson}};
</script>

<style>
    .title {
        display: block;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 20px;
        font-size: 40;
    }

    h1 {
        text-align: center;
    }


    h5 {
        text-align: left;
    }

    .img-cover {
        display: block;
        padding-bottom: 10px;
        height: 220px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .right-align {
		float: right;
	}

</style>

{% endblock head %}


{% block content %}
    
{{ super() }}

<div class="row">
    <div class="col-md-12 title">
        <h1>Basics 1/2: Ingredients</h1>
    </div>

    <div class="col-md-12 header p-3">
        <h3 class="p-2">Spirits</h3>
            <div class="card-group">
                {% for item in data.spirits %}
                    <div class="col-md-3 card">
                        <div class="card-body">
                            <img src={{item.img}} class="card-img-top img-cover" alt={{item.title}}>
                            <h5 class="card-title">{{item.title}}</h5>
                            <!-- <p class="card-text">Content</p> -->
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>

    <div class="col-md-12 header p-3">
        <h3 class="p-2">Non-alchocol</h3>
        <div class="card-group">
            {% for item in data.juices %}
                <div class="col-md-3 card">
                    <div class="card-body">
                        <img src={{item.img}} class="card-img-top img-cover" alt={{item.title}}>
                        <h5 class="card-title">{{item.title}}</h5>
                        <!-- <p class="card-text">Content</p> -->
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-12 header p-3">
        <h3 class="p-2">Fruits (Optional)</h3>
    </div>
</div>

<div class="row">
	<div class="col-md-6 d-flex justify-content-left p-5">
		<a class="btn btn-primary" id="learning-btn" href="/progress/basics" role="button">Review</a>
	</div>

	<div class="col-md-6 p-5">
        <a class="btn btn-primary right-align" type="button" href="/basics/1">See next</a>

    </div>
</div>



{% endblock content %}