{% extends 'layout.html' %}


{% block head %}

{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

<script>
	var quiz_index = {{quiz_index|tojson}}
	var quiz_status = {{status.quizes|tojson}};
	var answer = {{answer|tojson}}
</script>

<style>
    .title {
        display: block;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 50px;
        font-size: 34;
    }

	#deck .card img {
		display: flex;
	}

	.small-header {
		font-size: 14pt;
		text-align: center;
	}
	.card-img-top {
		margin-top: auto;
		margin-bottom: auto;
	}

	.card-title {
		font-weight: bold;
	}

	.img-cover {
        display: block;
        height: 150;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
    }

	.next-icon, .mix-icon {
		width: 40px;
		height: auto;
	}

	.placeholder-box {
		height: 300px;
	}

	.larger-header {
		font-size: 28px;
		font-weight: bold;
	}

	.right-align {
		float: right;
	}

	.droppable-dashes {
		width: 100%;
		height: 100%;
		margin-top: auto;
		margin-bottom: auto;
	}

	.ui-draggable-dragging {
		cursor: move;
		background-color: lightyellow;
		position: absolute;
		z-index: 1000;
	}
	
</style>

{% endblock head %}


{% block content %}
    
{{ super() }}

<div class="progress">
	<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<!-- <div class="row">
	<div class="col-md-12 title" id="title">		
		{% if quiz_index==4 %}
			<a class="btn btn-primary right-align" type="button" href="/quiz/0">Finish quiz</a>
		{% else %}
			<a class="btn btn-primary right-align" type="button" href="/quiz/{{quiz_index+1}}">Next</a>
		{% endif %}
		
	</div>
</div> -->

<div class="col-md-12 header p-1">
	<h4 class="p-2">Spirits</h4>
		<div class="card-group">
			{% for item in data.spirits %}
				<div class="col-md-3 card">
					<div class="card-body">
						<img src={{item.img}} class="card-img-top img-cover draggable" alt={{item.title}}>
						<p class="card-title">{{item.title}}</p>
						<!-- <p class="card-text">Content</p> -->
					</div>
				</div>
			{% endfor %}
		</div>
</div>

<div class="col-md-12 header p-1">
	<h4 class="p-2">Non-alchocol</h4>
	<div class="card-group">
		{% for item in data.juices %}
			<div class="col-md-3 card">
				<div class="card-body">
					<img src={{item.img}} class="card-img-top img-cover" alt={{item.title}}>
					<p class="card-title">{{item.title}}</p>
					<!-- <p class="card-text">Content</p> -->
				</div>
			</div>
		{% endfor %}
	</div>
</div>


<div class="row p-4">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header larger-header">Drag and drop the ingredients to make a {{status.recipes[quiz_index].title}}</div>
			<div class="card-group card-inside">
				{% for item in answer.steps %}
					<div class="card placeholder-box">
						<div class="card-body p-1">
							<!-- <h5 class="card-title">Item 1</h5> -->
							<img class="droppable-dashes d-none" src="https://forum.affinity.serif.com/uploads/monthly_2018_12/29978488_exampleofillysagligndashedlines.png.e3bbf2f0aa2cc4c3725e4087b5653b79.png" alt="drop">
						</div>
					</div>
					{% if loop.index!=(answer.steps|length) %}
						<img class="next-icon p-1" src="https://image.flaticon.com/icons/svg/318/318476.svg" alt="">
					{% endif %}
				{% endfor %}
				
				<div class="align-self-center">
					<img class="mix-icon" src="https://image.flaticon.com/icons/svg/2286/2286041.svg" alt="mix-icon"> <br>
					<button class="btn btn-primary text-align-center" id="mix-button">Mix</span>
				</div>
				<div class="card placeholder-box">
					<div class="card-body">
						<h5 class="card-title"></h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 d-flex justify-content-left p-4">
		<a class="btn btn-primary" id="learning-btn" href="/progress/quiz" role="button">Review quizes</a>
	</div>

	<div class="col-md-6 p-4">

		<a class="btn btn-primary right-align disabled" id="submit-quiz-button" type="button" href="/feedback">Finish quiz!</a>

    </div>
</div>

{% endblock content %}