{% extends 'layout.html' %}

{% block head %}

{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename = 'create.js') }}"></script>

<script>
    var names = {{names|tojson}}
</script>

<style>

    #success-notification {
        background-color: LightPink;
        text-align: center;
        font-size: 14px;
    }
    .header {
        display: block;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    #input-name {
        width: 300px;
    }
    #input-durability, #input-attack {
        width: 100px;
    }


</style>

{% endblock head %}


{% block content %}
    
{{ super() }}

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-primary" role="alert" id="success-notification">
            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 header">
        <h2>Create a new weapon</h2>
    </div>
</div>

<form id="new-form" novalidate>
<!-- <form id="new-form" action="/add_item" method="POST" novalidate> -->
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Weapon name</label>
        <div class="col-sm-4" id="form-name">
            <input type="text" class="form-control" id="input-name" name="name" placeholder="name" required>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Attack</label>
        <div class="col-sm-4" id="form-attack">
            <input type="number" min="1" max="99" class="form-control" id="input-attack" placeholder="1" required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Durability</label>
        <div class="col-sm-4" id="form-durability">
            <input type="number" min="1" max="99" class="form-control" id="input-durability" placeholder="1" required>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Image link</label>
        <div class="col-sm-10" id="form-image">
            <input type="url" class="form-control" id="input-image" placeholder="url" required>
            <div class="invalid-feedback">
                Please provide a valid link of an image.
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Summary</label>
        <div class="col-sm-10" id="form-summary">
            <input type="text" class="form-control" id="input-summary" placeholder="summary" required>
            <div class="invalid-feedback">
                Please provide a summary.
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10" id="form-description">
            <textarea class="form-control" id="input-description" rows="3" placeholder="description" required ></textarea>
            <div class="invalid-feedback">
                Please provide a detailed description.
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Reviews</label>
        <div class="col-sm-10">
            <div class="form-group row">
                <div class="col-md-4 mb-3">
                    <div class="input-group" id="form-username">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                        </div>
                        <input type="text" class="form-control" id="input-username" placeholder="username" aria-describedby="inputGroupPrepend" required>
                    </div>
                </div>

                <div class="col-md-12 mb-3" id="form-comment">
                    <textarea class="form-control" id="input-comment" rows="3" placeholder="comment"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <button class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

{% endblock content %}