{% extends 'layout.html' %}


{% block head %}

{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>

<script>
    var data = {{data|tojson}};
    var names = {{names|tojson}}
</script>

<style>
    .summary {
        display: block;
        padding-top: 10px;
        text-align: center;
    }

    .card-example {
        height: 300px;
    }


</style>

{% endblock head %}


{% block content %}
    
{{ super() }}

<div class="row">
    <div class="col-md-12 summary">
        Zelda fans: search for weapons, learn more about them, and see/write reviews!
    </div>
</div>

<div id="example" class="row">
    
</div>

{% endblock content %}