{% extends 'layout.html' %}


{% block head %}

{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>

<script>
    var data = {{data|tojson}};
    var names = {{names|tojson}}
</script>

<style>
    .summary {
        display: block;
        padding-top: 10px;
        text-align: center;
        font-size: 20px;
    }

    .card-example {
        height: 280px;
    }

    .card-img-top {
        display: block;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        width: 110px;
        height: auto;
        image-rendering: pixelated;
    }

    .card-title {
        text-align: center;
    }

    /* ref: http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/ */
    /* styles for '...' */ 
    .block-with-text {
        color: grey;
        /* hide text if it more than N lines  */
        overflow: hidden;
        /* for set '...' in absolute position */
        position: relative; 
        /* use this value to count block height */
        line-height: 1.2em;
        /* max-height = line-height (1.2) * lines max number (3) */
        max-height: 4.8em; 
        /* fix problem when last visible word doesn't adjoin right side  */
        text-align: justify;  
        /* place for '...' */
        margin-right: -1em;
        padding-right: 1em;
    }
    /* create the ... */
    .block-with-text:before {
        /* points in the end */
        content: '...';
        /* absolute position */
        position: absolute;
        /* set position to right bottom corner of block */
        right: 0;
        bottom: 0;
    }
    /* hide ... if we have text, which is less than or equal to max lines */
    .block-with-text:after {
        /* points in the end */
        content: '';
        /* absolute position */
        position: absolute;
        /* set position to right bottom corner of text */
        right: 0;
        /* set width and height */
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        /* bg color = bg color under block */
        background: white;
    }


</style>

{% endblock head %}


{% block content %}
    
{{ super() }}

<div class="row">
    <div class="col-md-12 summary">
        Zelda fans: search for weapons, learn more about them, and see/write reviews!
    </div>
</div>

<div id="example" class="row">
    
</div>

{% endblock content %}